In [1]:
import pandas as pd
import openml
from openml.datasets.functions import create_dataset
import numpy as np

In [2]:
openml.config.apikey = ''

In [3]:
df = pd.read_excel('data/dane_pogoda.xlsx')
df.head()

,Dzień,Temperatura maks.,Temperatura śred.,Temperatura min.,Opady,Zachmurzenie,Wydarzenia meteo,Miasto
0,2019-02-27,13,10,8,0.0,0,sky is clear,Gdańsk
1,2019-02-27,11,9,7,0.0,0,sky is clear,Łódź
2,2019-02-27,9,4,-1,0.0,8,sky is clear,Kraków
3,2019-02-27,13,10,8,0.0,0,sky is clear,Gdańsk
4,2019-02-27,11,9,7,0.0,0,sky is clear,Łódź

In [4]:
df.columns = ['day', 'max_temperature', 'avg_temperature', 'min_temperature', 'rain', 'clouds', 'event', 'city']
df.day = np.datetime_as_string(df.day)
df.head()

,day,max_temperature,avg_temperature,min_temperature,rain,clouds,event,city
0,2019-02-27T00:00:00.000000000,13,10,8,0.0,0,sky is clear,Gdańsk
1,2019-02-27T00:00:00.000000000,11,9,7,0.0,0,sky is clear,Łódź
2,2019-02-27T00:00:00.000000000,9,4,-1,0.0,8,sky is clear,Kraków
3,2019-02-27T00:00:00.000000000,13,10,8,0.0,0,sky is clear,Gdańsk
4,2019-02-27T00:00:00.000000000,11,9,7,0.0,0,sky is clear,Łódź

In [5]:
df.day

0       2019-02-27T00:00:00.000000000
1       2019-02-27T00:00:00.000000000
2       2019-02-27T00:00:00.000000000
3       2019-02-27T00:00:00.000000000
4       2019-02-27T00:00:00.000000000
5       2019-02-27T00:00:00.000000000
6       2019-02-27T00:00:00.000000000
7       2019-02-27T00:00:00.000000000
8       2019-02-27T00:00:00.000000000
9       2019-02-27T00:00:00.000000000
10      2019-02-27T00:00:00.000000000
11      2019-02-27T00:00:00.000000000
12      2019-02-27T00:00:00.000000000
13      2019-02-27T00:00:00.000000000
14      2019-02-27T00:00:00.000000000
15      2019-02-27T00:00:00.000000000
16      2019-02-27T00:00:00.000000000
17      2019-02-27T00:00:00.000000000
18      2019-02-27T00:00:00.000000000
19      2019-02-27T00:00:00.000000000
20      2019-02-27T00:00:00.000000000
21      2019-02-27T00:00:00.000000000
22      2019-02-27T00:00:00.000000000
23      2019-02-27T00:00:00.000000000
24      2019-02-27T00:00:00.000000000
25      2019-02-27T00:00:00.000000000
26      2019-02-27T00:00:00.000000000
27      2019-02-27T00:00:00.000000000
28      2019-02-27T00:00:00.000000000
29      2019-02-26T00:00:00.000000000
                    ...
1652    2019-01-02T00:00:00.000000000
1653    2019-01-01T00:00:00.000000000
1654    2019-01-01T00:00:00.000000000
1655    2019-01-01T00:00:00.000000000
1656    2019-01-01T00:00:00.000000000
1657    2019-01-01T00:00:00.000000000
1658    2019-01-01T00:00:00.000000000
1659    2019-01-01T00:00:00.000000000
1660    2019-01-01T00:00:00.000000000
1661    2019-01-01T00:00:00.000000000
1662    2019-01-01T00:00:00.000000000
1663    2019-01-01T00:00:00.000000000
1664    2019-01-01T00:00:00.000000000
1665    2019-01-01T00:00:00.000000000
1666    2019-01-01T00:00:00.000000000
1667    2019-01-01T00:00:00.000000000
1668    2019-01-01T00:00:00.000000000
1669    2019-01-01T00:00:00.000000000
1670    2019-01-01T00:00:00.000000000
1671    2019-01-01T00:00:00.000000000
1672    2019-01-01T00:00:00.000000000
1673    2019-01-01T00:00:00.000000000
1674    2019-01-01T00:00:00.000000000
1675    2019-01-01T00:00:00.000000000
1676    2019-01-01T00:00:00.000000000
1677    2019-01-01T00:00:00.000000000
1678    2019-01-01T00:00:00.000000000
1679    2019-01-01T00:00:00.000000000
1680    2019-01-01T00:00:00.000000000
1681    2019-01-01T00:00:00.000000000
Name: day, Length: 1682, dtype: object

In [6]:
weather_dataset = create_dataset(
    name="Weather_test_data_2",
    description='Weather_test_data_2',
    creator=None,
    contributor=None,
    collection_date=None,
    language='English',
    licence=None,
    default_target_attribute='play',
    row_id_attribute=None,
    ignore_attribute=None,
    citation=None,
    attributes='auto',
    data=df,
    version_label='example',
)

/home/ngiersz/anaconda3/lib/python3.7/site-packages/openml/datasets/functions.py:503: FutureWarning: A future version of pandas will default to `skipna=True`. To silence this warning, pass `skipna=True|False` explicitly.
  attributes_ = attributes_arff_from_df(data)

In [7]:
upload_did = weather_dataset.publish()
print('URL for dataset: %s/data/%d' % (openml.config.server, upload_did))

URL for dataset: https://www.openml.org/api/v1/xml/data/41688